################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SnakeConsole2020/v16
/Debug
/SnakeConsole2020/Debug
